<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIDev.Properties.AI_x0020_Dev_x0020_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AIDev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AIDev.Properties.AI_x0020_Dev_x0020_Settings>
            <setting name="ttsVoice" serializeAs="String">
                <value>"Microsoft David Desktop"</value>
            </setting>
        </AIDev.Properties.AI_x0020_Dev_x0020_Settings>
        <AIDev.Properties.Settings>
            <setting name="AIDevFolderPath" serializeAs="String">
                <value>C:\Users\User2\Dev\AI Dev</value>
            </setting>
            <setting name="ttsVoice" serializeAs="String">
                <value>Microsoft David Desktop</value>
            </setting>
        </AIDev.Properties.Settings>
    </userSettings>
</configuration>